.chat-container {
    display: flex;
  }
  
  .people-container {
    width: 25%;
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box;
  }
  
  .message-container {
    width: 75%;
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box;
    align-content: center;
  }
  