.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .san-chat {
    font-size: 3rem;
    color: #b19cd9;
    margin-bottom: 20px;
  }
  
  .welcome-text {
    font-size: 1rem;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .name-input,
  .password-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b19cd9;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .name-input:hover,
  .password-input:hover {
    background-color: #b19cd9;
    color: #fff;
  }
  
  button {
    padding: 10px;
    background-color: #b19cd9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #926bb0;
  }
  