.new-message-box {
    padding: 10px;
    box-sizing: border-box;
    
  }
  
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    resize: vertical;
    
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  