ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent; /* Set the background to transparent */
    z-index: 2; /* Add a higher z-index */
}

li {
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s; /* Add a smooth color transition on hover */
}

/* Adjustments for specific items */
li:first-child {
    margin-right: auto;
}

li:nth-child(2) {
    flex-grow: 1;
    text-align: center;
}

li:last-child {
    margin-left: auto;
}

/* Change color on hover */
li:hover {
    color: #b19cd9; /* Pastel purple */
}

/* Style the search box */
.search-box {
    display: flex;
    align-items: center;
}

.search-box input,
.search-box button {
    margin-right: 10px;
    background-color: #b19cd9; /* Set the background color to pastel purple */
    color: #fff; /* Set text color to white */
    padding: 8px; /* Adjust padding as needed */
    border: none;
    border-radius: 4px; /* Add some border-radius for a rounded look */
    cursor: pointer;
}

/* Change button color on hover */
.search-box button:hover {
    background-color: #926bb0; /* A slightly darker shade on hover */
}
