/* People.css */

body {
  margin: 0;
  overflow: hidden; /* Prevent body from scrolling */
}

.people-container {
  max-width: 25%;
  float: left;
  height: 100vh; /* Set the height to full viewport height */
  overflow-y: auto; /* Add vertical scroll for overflow */
}

.person-box {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.person-box:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  border-color: blueviolet;
}

.person-name {
  font-size: 20px;
}

.last-online {
  font-size: 14px;
  color: #888;
}

.person-box-link {
  text-decoration: none !important;
  color: inherit;
}

.person-box-link:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.video-container {
  max-width: 75%;
  float: right;
  height: max-content; /* Set the height to full viewport height */
  width: max-content;
}

.logout-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

.logout-container button {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.logout-container button:hover {
  background-color: #d8d8d8;
}
